doctype html
html
  head
    title Where's my ling?
  body
    div You're at #[a(href='http://odditown.com/haven/map/#x=#{x}&y=#{y}&zoom=9') (#{x}, #{y})] (confidence: #{confidence}%)
    img(src='#{tile}')
